# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# go build artifacts
backend/server
backend/*.exe
backend/*.test
backend/*.out

# env files
.env*
backend/.env

# misc
.DS_Store
*.pem
